.board {
  display: grid;
  grid-template: repeat(8, 100px) / repeat(8, 100px);
  gap: .5rem;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  perspective: 1000px;
  height: 100px;
  width: 100px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .6s;
  transform-style: preserve-3d;
  cursor: pointer;
  background-color: white;
  border-radius: .3rem;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Front face */
.card-back {
  background-color: var(--dark-blue);
}

/* Back face */
.card-front {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}
