@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #fa4549;
  --green: #3fb950;
  --fearless-blue: #6d92c5;

  --select-10: #2275f8;
  --select-5: #364291;
  --select-0: #121d57;

  --white: #fff;
  --black: #000;

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --b-alpha-5: rgba(0, 0, 0, .5);
  --2-alpha-2: rgba(255, 255, 255, .2);

  --font: "Poppins", Helvetica, Arial, sans-serif;

  --max-width: 1200px;
}

.dark-mode {
  --white: #000;
  --black: #fff;

  --gray-100: #212529;
  --gray-200: #343a40;
  --gray-300: #495057;
  --gray-400: #6c757d;
  --gray-500: #adb5bd;
  --gray-600: #ced4da;
  --gray-700: #dee2e6;
  --gray-800: #e9ecef;
  --gray-900: #f8f9fa;

  --b-alpha-5: rgba(255, 255, 255, 0.5);
  --2-alpha-2: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;

  font-family: var(--font);

  scrollbar-width: none;
  scroll-behavior: smooth;
  color: var(--black);
}

input, select {
  color: var(--black);
  background-color: var(--white);
}

.icon {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-variation-settings: 'FILL' 1;
  font-size: 28px;
  font-weight: 400;
  user-select: none;
}