.popup {
    position: fixed;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: fit-content;

    color: var(--white);

    padding: .3rem 3rem;
    border-radius: 4rem;

    max-width: var(--max-width);

    pointer-events: none;
    cursor: default;

    transition: top .3s ease;
}

.popup p {
    font-weight: 600;
}

.popup .icon {
    font-size: 1.8rem;
}

.popup-show {
    top: 5%;
}

.green-popup {
    background-color: green;
}

.red-popup {
    background-color: red;
}