.settings {
    max-width: var(--max-width);
    margin: auto;
    display: flex;  
    min-height: 80vh;
    padding: 3rem;
    gap: 2rem;
}

aside {
    background-color: var(--gray-100);
    border-radius: 0.5rem;
}

.option label {
    display: block;
    padding: 1rem 2em;
    cursor: pointer;
}


.option:first-child label {
    border-radius: .5rem .5rem 0rem 0rem;
}

.option label:hover {
    background-color: var(--gray-400);
}

input[type="radio"]:checked + label {
    background-color: var(--gray-200);
}

.settings section {
    background-color: var(--gray-100);
    padding: 5rem;
    width: 100%;
    border-radius: .5rem;
}

.settings .head {
    padding-left: .5rem;
    display: flex;
    gap: 1rem;
    margin: 1rem 0px .3rem;
}

.edit {
    text-decoration: underline;
    user-select: none;
}

.edit:hover {
    color: var(--select-10);
    cursor: pointer;
}

.settings input {
    padding: .7rem 1rem .55rem;
    background-color: transparent;
    border: 1px solid  var(--gray-500);
    border-radius: .5rem;
}

.settings input::placeholder {
    font-size: 1rem;
}



.account-stats-horizontal h3 {
    margin-top: 4rem;
}



.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px dotted var(--gray-400);
}

.stats-table th,
.stats-table td {
    padding: 1rem 0px;
    text-align: center;
    width: 200px;
}

.stats-table thead {
    background-color: var(--gray-200);;
}

.stats-table th {
    font-size: 1.1em;
}

.stats-table td {
    font-style: italic;
    color: var(--gray-600);;
}

.stats-table .input {
    font-style: normal;
    color: var(--black);
}

.stats-table td:first-child {
    width: 200px;
    font-weight: bold;
    background-color: var(--gray-100200);
    font-style: normal;
    color: var(--black);
}

.time-stats .input::after {
    content: 's';
}

.game-stats .input::after {
    content: '%';
}





.mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50%;
    margin-top: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.2rem;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    cursor: pointer;
    background-color: var(--gray-400);

    border-radius: 1rem;
}

.slider:before {
    position: absolute;
    content: "";

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;

    left: .34rem;
    bottom: .34rem;

    background-color: var(--white);
    transition: .2s ease-in-out;
}

input:checked + .slider {
    background-color: var(--select-10);
  }

  input:checked + .slider:before {
      transform: translateX(1.5rem);
      transition: .2s ease-in-out;
  }