.table {
  max-width: var(--max-width);
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;

  min-height: 95vh;
  padding: 3rem;
}

.game-info {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.select-option {
  position: relative;
}

.select-option select {
  appearance: none;
  padding: .5rem 3rem .5rem 1.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid  var(--gray-500);
  offset: none;
  border-radius: .5rem;
  color: var(--gray-600);
}

.select-option select:hover,
.select-option select:focus {
  color: var(--select-10);
  border: 1px solid var(--select-10);
}

.select-option .arrow {
  color:  var(--gray-500);
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  right: 2%;
  bottom: 0%;
  transition: transform .2s ease-in-out;
}

.select-option select:hover ~ .arrow {
  color: var(--select-10);
}

.select-option select:focus ~ .arrow {
  color: var(--select-10);
  transform: rotate(-180deg);
}

.game-info button {
  padding: .5rem 1.5rem;
  font-size: 1rem;

  outline: none;
  offset: none;
  border: none;

  border-radius: .5rem;
  cursor: pointer;

  background-color: var(--select-10);
  color: var(--white);
  font-weight: 600;
}

.game-info button:hover {
  background-color: var(--select-5);
}

.game-info button:active {
  background-color: var(--select-0);
}

.game-info {
  font-size: 1.5rem;
  color: var(--gray-600);
}

.timer {
  width: 120px;
}

.score::before {
  content: "Score: ";
  margin-right: 1ch;
}

.board {
  display: grid;
  gap: 0.5rem;

  width: fit-content;
  margin-inline: auto;

  padding: 2rem;
  border-radius: 1rem;
  border: 1px dotted  var(--gray-500);
}
